<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356995882302-9no7q5itb58h7kc28h1hgk4uibv3cs27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356995882302-9no7q5itb58h7kc28h1hgk4uibv3cs27</string>
	<key>API_KEY</key>
	<string>AIzaSyCD2XAfxmLC9FVNnZT4oFiRzVR5vrBo9eU</string>
	<key>GCM_SENDER_ID</key>
	<string>356995882302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andconnection.live</string>
	<key>PROJECT_ID</key>
	<string>fitnessappswiftui-29f08</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessappswiftui-29f08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356995882302:ios:1b68b507d69f8ef74a206f</string>
</dict>
</plist>